header#banner.hero-unit
	.container
		h1 Jukify
		p.lead Democratic Partying

.container
	.row
		.col-lg-12.text-center
			h1(ng-bind='jukebox.name') [undefined]
			h4(ng-bind='jukebox.address') [undefined]
	.row
		.col-lg-12
			form.jukebox-form
				.row
					.col-md-12
						ui-select(ng-model='song.selected', theme='bootstrap')
							ui-select-match(placeholder='What Song do you want to hear?')
								| {{$select.selected.name}} - {{$select.selected.artists[0].name}} - {{$select.selected.album.name}}
							ui-select-choices(repeat='song in songs track by $index', refresh='refreshSongs($select.search)', refresh-delay='0')
								div
									span.strong.song-title(ng-bind-html='song.name | highlight: $select.search')
									span.artist-name(ng-bind-html='song.artists[0].name | highlight: $select.search')
									span.album-name(ng-bind-html='song.album.name | highlight: $select.search')
				.row
					.col-md-12.text-center
						button.btn.btn-primary.btn-lg(type="submit", ng-click='addSong()') Put Song in Ballet

	.row
		.col-md-6
			h2.page-header Playlist
			.bs-callout.bs-callout-primary.song(ng-repeat='song in playlist | orderBy: "-votes" | filter: {played: false}')
				.row
					.col-xs-2
						img.img-circle.img-responsive(src='{{song.cover}}')
					.col-xs-8
						a(href='{{song.uri}}', ng-click='playSong(song)')
							h4
								| {{song.title}} #[small ({{ song.length | formatMillis }})]
						p 
							| {{song.artist}} - {{song.album}}
					.col-xs-2
						p {{ $cookie[song._id] }}
						button.btn.btn-default.pull-right(ng-click='upvote(song)', ng-class='votingDisabled(song) ? "disabled" : ""')
							span
								i.fa.fa-2x.fa-thumbs-up
							span.votes(ng-class='(song.votes > 0) ? "text-success" : "text-danger"') {{song.votes}}
		.col-md-6
			h2.page-header Played Songs
			.bs-callout.bs-callout-default.song(ng-repeat='song in playlist | orderBy: "-votes" | filter: {played: true}')
				.row
					.col-xs-2
						img.img-circle.img-responsive(src='{{song.cover}}')
					.col-xs-10
						a(href='{{song.uri}}')
							h4
								| {{song.title}} #[small ({{ song.length | formatMillis }})]
						p 
							| {{song.artist}} - {{song.album}}

footer.footer
	.container
		p
			| Jukify v0.1
