.jukebox-form {
	margin-top: 40px;
	.btn[type="submit"] {
		margin-top: 50px;
	}
	.form-control {
		height: 60px;
		font-size: 20px;
		padding: 15px;
		overflow: hidden;
	}

	// dropdown when searching for songs
	span {
		&.song-title {
		}
		&.artist-name {
			&:before {
				font-family: @font-family-sans-serif;
				content: "-";
				margin: 0 6px;
			}
		}
		&.album-name {
			&:before {
				font-family: @font-family-sans-serif;
				content: "-";
				margin: 0 6px;
			}
		}
	}
}

.song {
	overflow: hidden;
	.votes {
		font-size: 20px;
		margin-left: 5px;
	}
}

.jukebox {
	height: 130px;
}

// loader
.loader {
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 0.8em auto;
  position: relative;
  -webkit-animation: load6 1.7s infinite ease;
  animation: load6 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: -0.11em -0.83em 0 -0.4em #505050, -0.11em -0.83em 0 -0.42em #505050, -0.11em -0.83em 0 -0.44em #505050, -0.11em -0.83em 0 -0.46em #505050, -0.11em -0.83em 0 -0.477em #505050;
  }
  5%,
  95% {
    box-shadow: -0.11em -0.83em 0 -0.4em #505050, -0.11em -0.83em 0 -0.42em #505050, -0.11em -0.83em 0 -0.44em #505050, -0.11em -0.83em 0 -0.46em #505050, -0.11em -0.83em 0 -0.477em #505050;
  }
  30% {
    box-shadow: -0.11em -0.83em 0 -0.4em #505050, -0.51em -0.66em 0 -0.42em #505050, -0.75em -0.36em 0 -0.44em #505050, -0.83em -0.03em 0 -0.46em #505050, -0.81em 0.21em 0 -0.477em #505050;
  }
  55% {
    box-shadow: -0.11em -0.83em 0 -0.4em #505050, -0.29em -0.78em 0 -0.42em #505050, -0.43em -0.72em 0 -0.44em #505050, -0.52em -0.65em 0 -0.46em #505050, -0.57em -0.61em 0 -0.477em #505050;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: -0.11em -0.83em 0 -0.4em #505050, -0.11em -0.83em 0 -0.42em #505050, -0.11em -0.83em 0 -0.44em #505050, -0.11em -0.83em 0 -0.46em #505050, -0.11em -0.83em 0 -0.477em #505050;
  }
}
@keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: -0.11em -0.83em 0 -0.4em #505050, -0.11em -0.83em 0 -0.42em #505050, -0.11em -0.83em 0 -0.44em #505050, -0.11em -0.83em 0 -0.46em #505050, -0.11em -0.83em 0 -0.477em #505050;
  }
  5%,
  95% {
    box-shadow: -0.11em -0.83em 0 -0.4em #505050, -0.11em -0.83em 0 -0.42em #505050, -0.11em -0.83em 0 -0.44em #505050, -0.11em -0.83em 0 -0.46em #505050, -0.11em -0.83em 0 -0.477em #505050;
  }
  30% {
    box-shadow: -0.11em -0.83em 0 -0.4em #505050, -0.51em -0.66em 0 -0.42em #505050, -0.75em -0.36em 0 -0.44em #505050, -0.83em -0.03em 0 -0.46em #505050, -0.81em 0.21em 0 -0.477em #505050;
  }
  55% {
    box-shadow: -0.11em -0.83em 0 -0.4em #505050, -0.29em -0.78em 0 -0.42em #505050, -0.43em -0.72em 0 -0.44em #505050, -0.52em -0.65em 0 -0.46em #505050, -0.57em -0.61em 0 -0.477em #505050;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: -0.11em -0.83em 0 -0.4em #505050, -0.11em -0.83em 0 -0.42em #505050, -0.11em -0.83em 0 -0.44em #505050, -0.11em -0.83em 0 -0.46em #505050, -0.11em -0.83em 0 -0.477em #505050;
  }
}
